{% extends "base.html" %}

{% block content %}

 <div class="row">
  <div class="col-lg-2"> </div>
  <div class="col-lg-8">
    
    <form role="form"  action="/search" method="get" name="form">
      <div class="form-group">
        <label>Name</label>
        <input type="input" class="form-control" name="name" placeholder="Enter Name" value="{{data['name']}}">
      </div>
      <div class="form-group">
        <label>Pet Type</label>
        <input type="input" class="form-control" name="pet_type" placeholder="Enter Pet Type" value="{{data['pet_type']}}">
      </div>
      <div class="form-group">
        <label>Number of Results</label>
        <input type="input" class="form-control" name="n" placeholder="Number of Results" value="{{data['count']}}">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

  </div>
  <div class="col-lg-2"> </div>
</div>


<table class="table table-condensed table-hover">
<thead>
<tr>
<th>Name</th>
<th>Pet Type</th>
<td>Birth Date</td>
</tr>
</thead>
{% for pet in pets %}
<tr>
  <td>{{pet.name}}</td>
  <td>{{pet.pet_type}}</td>
  <td>{{pet.birthdate}}</td>
</tr>
{% endfor %}
</table>

{% endblock %}